@import "tailwindcss";

:root {
  --lynk-green: #00AA5B;
  --lynk-bg: #F5F7FA;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--lynk-bg);
  font-family: system-ui, -apple-system, sans-serif;
}
